<div class="my-4 w-11/12 mx-auto grid grid-cols-2 md:grid-cols-4 gap-4">
    @if (itemsFlag) {
        @for (i of pedidos; track i){
            <div class="grid gap-4">            
                @for (j of i; track j){
                    <div class="w-full rounded-t-lg text-white bg-yellow-200">
    
                        <div class="rounded-t-lg bg-gray-50 dark:bg-gray-600 flex items-center justify-between">
                            <div class="p-5 w-max" fxLayout="row" fxLayoutAlign="start">
                                <div class="font-bold uppercase">Mesa: {{j.Num_Mesa}}</div>    
                                <div class="">Mesero: {{j.Usuario}}</div>
                            </div>
                            <button class="material-symbols-outlined text-3xl mr-2" (click)="updatePedido(i)">{{j.noteEdit ? 'edit_off' : 'edit'}}</button>
                        </div>
                        
                        <div class="text-black">
                            @for (p of j.items; track p){
                                <div class="leading-loose flex m-2 text-xl justify-between">
                                    <div class="flex items-center">
                                        <div *ngIf="j.noteEdit" class="flex flex-col">
                                            <button class="material-symbols-outlined" (click)="itemCant(p,'+')"> arrow_drop_up </button>
                                            <button class="material-symbols-outlined" (click)="itemCant(p,'-')"> arrow_drop_down  </button>
                                        </div>
                                        <p><span class="pr-2">{{p.Cantidad}}</span>{{p.Nombre}}</p>
                                    </div>
                                    <div class="flex items-center">
                                        <p>${{p.Precio_Unitario*p.Cantidad}}.00</p>
                                        <span *ngIf="j.noteEdit" class="material-symbols-outlined ml-2">delete</span>
                                    </div>
                                </div>
                                <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700">
                            }
                        </div>
                    
                    </div> 
                }      
            </div>
        }
    }@else {
        @for (i of pedidos; track i){
            <div class="grid gap-4">           
                    <div class="w-full rounded-t-lg text-white bg-yellow-200">
    
                        <div class="rounded-t-lg bg-gray-50 dark:bg-gray-600 flex items-center justify-between">
                            <div class="p-5 w-max" fxLayout="row" fxLayoutAlign="start">
                                <div class="font-bold uppercase">Mesa: {{i.Num_Mesa}}</div>    
                                <div class="">Mesero: {{i.Usuario}}</div>
                            </div>
                            <button class="material-symbols-outlined text-3xl mr-2" (click)="updatePedido(i)">{{i.noteEdit ? 'edit_off' : 'edit'}}</button>
                        </div>
                        
                        <div class="text-black">
                            @for (p of i.items; track p){
                                <div class="leading-loose flex m-2 text-xl justify-between">
                                    <div class="flex items-center">
                                        <div *ngIf="i.noteEdit" class="flex flex-col">
                                            <button class="material-symbols-outlined" (click)="itemCant(p,'+')"> arrow_drop_up </button>
                                            <button class="material-symbols-outlined" (click)="itemCant(p,'-')"> arrow_drop_down  </button>
                                        </div>
                                        <p><span class="pr-2">{{p.Cantidad}}</span>{{p.Nombre}}</p>
                                    </div>
                                    <div class="flex items-center">
                                        <p>${{p.Precio_Unitario*p.Cantidad}}.00</p>
                                        <button *ngIf="i.noteEdit" class="material-symbols-outlined ml-2" (click)="deleteProducto(i,p)">delete</button>
                                    </div>
                                </div>
                                <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700">
                            }
                        </div>
                    
                    </div> 
            </div>
        }
    }
</div>