.active-tab {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  color: rgb(0, 0, 0);
}

.inactive-tab {
  background-color: transparent;
}

/* Estilos para la tabla con efecto de fondo */
.table-with-background {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}