<div class="inicio-body">
  <!-- banner que ya es parte de la pagina de inicio y un carrusel de imagenes -->
  <div class="banner">
    <div class="container2">
       <span class="text1">Templo Azteca</span>
       <span class="text2">Gastronomía Mexicana</span>
    </div>
    <div id="carrusel-contenido">
       <div id="carrusel-caja">
           <div class="carrusel-elemento">
               <img class="imagenes" src="https://images.unsplash.com/photo-1695641738244-25e5355e9a42?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" >
           </div>
           <div class="carrusel-elemento">   
               <img class="imagenes" src="https://images.unsplash.com/photo-1593409132096-ce77cd1950bc?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
           </div>
           <div class="carrusel-elemento">   
               <img class="imagenes" src="https://images.unsplash.com/photo-1647220498991-668533ff54c8?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">                        
           </div>
       </div>
    </div>
  </div>
   <!-- termina el  banner -->
 
 <!-- cards de mision y vision-->
 <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mx-8 p-10">  
    <div #mision id="mision" class="card bg-white p-3 rounded-lg">
      <h5 class="card-title text-center">Mision</h5>
      <p class="card-text">En Templo Azteca, nuestra misión es ser guardianes de la autenticidad y la excelencia en la cocina mexicana, especialmente en lo que respecta a la herencia gastronómica de la cultura azteca. Nos comprometemos a proporcionar a nuestros comensales una experiencia gastronómica inigualable, donde cada plato sea una ventana al pasado glorioso de México, y donde la calidad, la tradición y la innovación se fusionen armoniosamente. Además, nos esforzamos por ser un oasis de cultura y comunidad, donde los amantes de la buena comida puedan reunirse, compartir y celebrar la riqueza de nuestra herencia culinaria en un ambiente acogedor y lleno de hospitalidad mexicana.         </p>
    </div>
    <div id="vision" class="card bg-white p-3 rounded-lg">
      <h5 class="card-title text-center">Vision</h5>
      <p class="card-text">Nuestra visión en Templo Azteca es convertirnos en el destino preferido para aquellos que buscan una experiencia gastronómica auténtica y enriquecedora, centrada en la cultura azteca y la tradición culinaria mexicana. Buscamos expandir nuestra presencia a nivel nacional e internacional, llevando los sabores y aromas únicos de nuestra cocina a nuevos horizontes, mientras seguimos siendo fieles a nuestras raíces y valores fundamentales. Además, aspiramos a ser un faro de inspiración y aprendizaje, promoviendo el conocimiento y la apreciación de la cultura azteca a través de eventos culturales, programas educativos y colaboraciones con expertos en historia y gastronomía. </p>
    </div>
 </div>
 <!--terminan las cards de mision y vision-->
 
 <!--cards de galeria de fotos-->
 <div id="galeriafotos">
  <h5 class="card-title text-center">Galeria de Fotos</h5>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
      <div class="col-md-4 photo-item">
        <img src="https://images.unsplash.com/photo-1711995619669-c14c2d605ca1?q=80&w=2005&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Foto 1">
      </div>
      <div class="col-md-4 photo-item">
        <img src="https://images.unsplash.com/photo-1531206591420-29f3f9f1bb36?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Foto 2">
      </div>
      <div class="col-md-4 photo-item">
        <img src="https://images.unsplash.com/photo-1674675665877-6f03b43e946d?q=80&w=3079&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Foto 3">
      </div>
      <div class="col-md-4 photo-item">
        <img src="https://images.unsplash.com/photo-1709750290431-f44b1b44b458?q=80&w=2950&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Foto 4">
      </div>
      <div class="col-md-4 photo-item">
        <img src="https://images.unsplash.com/photo-1711201265983-3f39469873da?q=80&w=2929&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Foto 5">
      </div>
      <div class="col-md-4 photo-item">
        <img src="https://images.unsplash.com/photo-1618824137892-609d3f0bfe8f?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Foto 6">
      </div>
      <div class="col-md-4 photo-item">
        <img src="https://images.unsplash.com/photo-1591980607162-923fa31e8240?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Foto 7">
      </div>
      <div class="col-md-4 photo-item">
        <img src="https://images.unsplash.com/photo-1534818113099-dbe2b2e800ae?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Foto 8">
      </div>
      <div class="col-md-4 photo-item">
        <img src="https://images.unsplash.com/photo-1602867741746-6df80f40b3f6?q=80&w=3024&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Foto 9">
      </div>
  </div>
 </div>
 <!--terminan cards de galeria de fotos-->
 
 <!-- Descripcion-->
 <div>
  <h2 class="title text-center">Sobre Nosotros</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mx-8 p-10">
    <div class="card bg-white p-3 rounded-lg" id="descripcion">
      <h5 class="card-title text-center">Descripcion</h5>
      <p class="card-text">Templo Azteca es un auténtico templo culinario dedicado a la preservación y exaltación de la rica herencia gastronómica de la cultura azteca. Inspirado en los sabores, colores y tradiciones de la cocina mexicana ancestral, nuestro restaurante ofrece una experiencia única que transporta a nuestros comensales a través del tiempo, hacia los gloriosos días del imperio azteca. </p>
    </div>
    <div class="card bg-white p-3 rounded-lg" id="origenes">
      <h5 class="card-title text-center">Origenes</h5>
      <p class="card-text">Los orígenes de Templo Azteca se remontan a las antiguas tradiciones culinarias de la majestuosa civilización azteca, cuyos sabores y técnicas han perdurado a lo largo de los siglos. Inspirados por la riqueza gastronómica de nuestros ancestros, decidimos establecer este santuario gastronómico con el propósito de honrar y preservar la herencia culinaria de México.           </p>
    </div>
  </div>
 </div>
 <!-- termina Descripcion-->
 
 <!-- seccion de calificaciones -->
 <section id="calificaciones">
  <h5 class="card-title text-center">Calificaciones</h5>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mx-8 p-10">
    <div class="card flex flex-col items-center py-4 mt-2 bg-white p-3 rounded-lg">
      <div class="flex content-center mb-4">
        <img src="https://media.istockphoto.com/id/1145360910/es/foto/joven-mexicana-retrato-de-mujer.jpg?s=1024x1024&w=is&k=20&c=bX9xmUTNft6gu6ZJVMFVOYdr448bMa_E8uVgZJoGGNw=" class="w-20 h-20 rounded-full" />
      </div>
      <h5 class="text-xl">Maricela Renovato</h5>
      <h6 class="text-base my-3">Blogger gastronómico</h6>
      <ul class="list-unstyled flex content-center">
        <li><i class="fas fa-star fa-sm text-waring"></i></li>
        <li><i class="fas fa-star fa-sm text-waring"></i></li>
        <li><i class="fas fa-star fa-sm text-waring"></i></li>
        <li><i class="fas fa-star fa-sm text-waring"></i></li>
        <li><i class="fas fa-star-half-alt fa-sm text-waring"></i></li></ul>
      <p class="mb-2"><i class="fas fa-quote-left pe-2"></i>Desde el momento en que entré en Templo Azteca, supe que iba a ser una experiencia gastronómica especial. Los sabores, la presentación y el ambiente hicieron que cada momento fuera inolvidable.</p>
    </div>    
    <div class="card flex flex-col items-center py-4 mt-2 bg-white p-3 rounded-lg">
      <div class="flex content-center mb-4">
        <img src="https://media.istockphoto.com/id/1367037181/es/foto/un-artesano-feliz.jpg?s=1024x1024&w=is&k=20&c=V4SF7UoZ-eVZ40CyG7BY_2JlIwhUChEhChWaWSUDurs=" class="w-20 h-20 rounded-full" />
      </div>
      <h5 class="text-xl">Heriberto Díaz</h5>
      <h6 class="text-base my-3">Agricultor</h6>
      <ul class="list-unstyled flex content-center">
        <li><i class="fas fa-star fa-sm text-waring"></i></li>
        <li><i class="fas fa-star fa-sm text-waring"></i></li>
        <li><i class="fas fa-star fa-sm text-waring"></i></li>
        <li><i class="fas fa-star fa-sm text-waring"></i></li>
        <li><i class="fas fa-star-half-alt fa-sm text-waring"></i></li>
      </ul>
      <p class="mb-2"><i class="fas fa-quote-left pe-2"></i>Templo Azteca es más que un restaurante, es una celebración de la cultura y la cocina mexicana. Cada plato es una obra maestra que refleja el amor y el respeto por la tradición culinaria
    </div>
    <div class="card flex flex-col items-center py-4 mt-2 bg-white p-3 rounded-lg">
      <div class="flex content-center mb-4">
        <img src="https://media.istockphoto.com/id/1332213149/es/foto/joven-con-ropa-de-abrigo-en-la-calle-en-el-garaje-ciego.jpg?s=1024x1024&w=is&k=20&c=H8VSd7rYAYp-zvZX4wFzUIAU_ZAI0kd9-buZWFu6TiU=" class="w-20 h-20 rounded-full" />
      </div>
      <h5 class="text-xl">Alejandro Segui</h5>
      <h6 class="text-base my-3">Ingeniero de alimentos</h6>
      <ul class="list-unstyled flex content-center">
        <li><i class="fas fa-star fa-sm text-waring"></i></li>
        <li><i class="fas fa-star fa-sm text-waring"></i></li>
        <li><i class="fas fa-star fa-sm text-waring"></i></li>
        <li><i class="fas fa-star fa-sm text-waring"></i></li>
        <li><i class="fas fa-star-half-alt fa-sm text-waring"></i></li>
      </ul>
      <p class="mb-2"> <i class="fas fa-quote-left pe-2"></i>Como amante de la comida mexicana, puedo decir con confianza que Templo Azteca es uno de los mejores restaurantes que he visitado. La atención al detalle y la calidad de los ingredientes son incomparables. </p>
    </div>
  </div>
 </section>
 <!-- termina seccion de calificaciones -->
</div>